body {
  background-color: rgb(89, 89, 89);
}

.container-fluid {
  position: absolute;
  left: 25%;
  top: 15%;
  vertical-align: middle;
  background-color: white;
}

.col {
  vertical-align: middle;
  text-align: center;
  height: 150px;
  width: 150px;
  background-color: white;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 51%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 62%, rgba(0,0,0,0.65) 69%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 51%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 51%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.col:hover {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 22%, rgba(0,0,0,0.65) 32%, rgba(0,0,0,0.36) 40%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 53%, rgba(0,0,0,0.06) 54%, rgba(0,0,0,0.65) 64%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 22%,rgba(0,0,0,0.65) 32%,rgba(0,0,0,0.36) 40%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.06) 54%,rgba(0,0,0,0.65) 64%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 22%,rgba(0,0,0,0.65) 32%,rgba(0,0,0,0.36) 40%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.06) 54%,rgba(0,0,0,0.65) 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.col:active {
  background-color: white;
}

.text {
  color: transparent;
  text-shadow: 0 0 4px rgba( 255, 255, 255, 0.9);
  font-size: 7.5em;
  vertical-align: middle;
}
